@import '~antd/dist/antd.css';


.sider {
  width: 240px;
  margin-left: 168px;
  color: white;
  overflow: auto;
  position: fixed;

}

.sider-top {
  padding-top: 20px;
  text-align: center;
  background-color: rgb(19, 18, 18);
  height: 115px;
}


.profile {
  width: 240px;
  margin-left: 168px;
  margin-top: 350px;
  color: black;
  background-color: white;
  overflow: auto;
  position: fixed;
}
