@import '~antd/dist/antd.css';


.sider {
  width: 240px;
  margin-left: 168px;
  color: white;
  overflow: auto;
  position: fixed;

}

.sider-top {
  padding-top: 20px;
  text-align: center;
  background-color: rgb(19, 18, 18);
  height: 115px;
}


.profile {
  width: 240px;
  margin-left: 168px;
  margin-top: 350px;
  color: black;
  background-color: white;
  overflow: auto;
  position: fixed;
}

.toTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 25px;
  height: 25px; 
  background-color: white ;
  border-radius: 4px;

  
}

.toTop:hover {
  background-color: #1890ff;
  color: white;
}

